

h1 {
 color:darkblue;
 font-size: 30px;
 font-weight: bold;
}

p {
  margin: 25px;
  color: blueviolet;
}

.clearfix::after {
 content: "";
 display: block;
 clear: table;
}


#q_user_name{
  background: rgb(255, 255, 153);
  font-size: 20px;
  font-family: Georgia;
  color: blueviolet;

}





 /* footer {
   padding: 20px;
   color: #ffffff;
   background: turquoise;
   text-align: center;
   border-top: 4px solid red;
   font-size: 15px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0; 
   width: 100%;
} */


.container {
  margin: 25px;
  color:red;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  text-align: center;
  padding: 3%;
  width: 75%;
  margin: 5% auto;
}

section .container {
 padding-top: 2%;
}

body {
  background: url(https://images.unsplash.com/photo-1471079688237-3ac9a55f1d6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80) fixed no-repeat; 
  background-size: 100vw;
  font-family: Georgia;
}


@media only screen and (max-width: 600px) {
  .center{
    width: 100%;
  }
}